[submodule "libraries/azure-sdk-for-c"]
	path = libraries/azure-sdk-for-c
	url = https://github.com/Azure/azure-sdk-for-c.git
[submodule "libraries/coreMQTT"]
	path = libraries/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
[submodule "libraries/coreHTTP"]
	path = libraries/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
